{% extends "default.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %} 
<!-- Custom styles for this template -->

{% endblock %}

{% block body %} 
<div class="container-fluid">
    <div class="row">
        {% for server in servers %}
        <div style="height: 8em;width: 10em;padding: 1em 1em;"> 
            <a href="{{server.url}}">
                <img src="{{server.img}}" style="width:100%;height:100%" alt="{{server.des}}" class="float-left">
            </a>   
            <a href="{{server.url}}">
                {{server.des}}
            </a>                   
        </div>  
        {% endfor %}  
        <div style="height: 6em;width: 9em;padding: 1em 1em;"> 
            <div class="border border-dark" style="height: 6em;width: 8em;">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 12 16" >
                        <path fill-rule="evenodd" d="M12 9H7v5H5V9H0V7h5V2h2v5h5v2z" fill="#6c757d"/>
                    </svg> 
                </a>  
            </div> 
            <a href="#">
                Add Server
            </a>
        </div>
    </div>
</div>
    


{% endblock %}

{% block scripts %}
<script>    
</script>                                                  
{% endblock %}